body{
text-align: center;
}

#campuslife{
    border: 1px solid lightgrey;
}

#campuslife img{
    width: 100%;
}

#campuslife h1 , #campuslife p {
    margin: 20px;
}

.movie_head {
    font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
}

.movie_head i{
    float:right;
}

.movie_text span{
    color : orange;
}

.new{
    margin-bottom: 20px;
}

#contact iframe{
    width: 100%;
   
}